<div class="container mt-5">
<div class="row">
<div class="container mt-5">
  <ejs-grid [dataSource]='patients' [allowPaging]="true" [pageSettings]='initialPage' [toolbar]='toolbar'>
  <e-columns>
    <e-column field="id" headerText="Patient ID" visible="false" isPrimaryKey="true" textAlign="Right" validationRules="@(new { required=true})" width="100"></e-column>
    <e-column field="fileNumber" validationRules="@(new { required=true})" headerText="Fiche numéro" type="number" textAlign="Center" width="120"></e-column>
    <e-column field="name" validationRules="@(new { required=true})" headerText="Nom" textAlign="Center" width="120"></e-column>
    <e-column field="firstName" validationRules="@(new { required=true})" headerText="Prenom" textAlign="Center" width="120"></e-column>
    <e-column field="dateOfBirth" validationRules="@(new { required=true})" headerText="Date de naissance" width="130" textAlign="Center" editType="datepickeredit" ></e-column>
    <!-- <e-column field="Adresse" validationRules="@(new { required=true})" headerText="Ville" textAlign="Center" width="120"></e-column>  -->
  </e-columns>
</ejs-grid>
</div>
<div class="row">
  <p>{{ dateTest | date: 'short':undefined:locale }}</p>
</div>
</div>


