<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <div *ngIf="givenName">
    <h2>Hi, {{ givenName }}!</h2>
    <div>
      <button (click)="getMessage()">GET /private</button>
      <div *ngIf="message">
        Response:

        {{ message | json }}
      </div>
    </div>
    <div>
      <h3>{{ raw }}</h3>
    </div>
    <div>
      <button (click)="logout()">Logout</button>
    </div>
  </div> -->

<!-- <div *ngIf="!givenName">
    <button (click)="login()">Login</button>
  </div> -->
<!-- </div> -->

<app-nav-menu></app-nav-menu>
<div class="container">
  <router-outlet></router-outlet>
</div>
