<div class="row" *ngIf="patient">
  <div>
    <input type="hidden" [(ngModel)]="patient.id" name="patientId"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
    <b>Patient</b>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
    <ejs-textbox
      name="fileNumber"
      placeholder="Fiche Numéro"
      floatLabelType="Auto"
      [(ngModel)]="patient.fileNumber"
    >
    </ejs-textbox>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
    <ejs-textbox
      name="name"
      placeholder="Nom"
      floatLabelType="Auto"
      [(ngModel)]="patient.name"
    >
    </ejs-textbox>
  </div>
  <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
    <ejs-textbox
      name="firstName"
      placeholder="Prenom"
      floatLabelType="Auto"
      [(ngModel)]="patient.firstName">
    </ejs-textbox>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
    <ejs-datepicker
      name="dateOfBirth" 
      placeholder="Date de Naissance" 
      floatLabelType="Auto" 
      [(ngModel)]="patient.dateOfBirth"
      format='dd.MM.yyyy'></ejs-datepicker>
  </div>
  <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
      <ejs-textbox
        name="age"
        placeholder="Age"
        floatLabelType="Auto"
        [(ngModel)]="patient.age.fullAge" 
        disabled>
      </ejs-textbox>
    </div>
</div>
